
// regular
@font-face {
  font-family: #{$font-family};
  src:
  url('../../fonts/#{$font-family}-Regular.woff2') format('woff2'),
  url('../../fonts/#{$font-family}-Regular.woff') format('woff');
  font-weight: normal;  font-style: normal;
}
// bold
@font-face {
  font-family: #{$font-family};
  src:
  url('../../fonts/#{$font-family}-Bold.woff2') format('woff2'),
  url('../../fonts/#{$font-family}-Bold.woff') format('woff');
  font-weight: bold;  font-style: normal;
}
// italic
@font-face {
  font-family: #{$font-family};
  src:
  url('../../fonts/#{$font-family}-Italic.woff2') format('woff2'),
  url('../../fonts/#{$font-family}-Italic.woff') format('woff');
  font-weight: normal;  font-style: italic;
}

//// bold-italic
//@font-face {
//  font-family: #{$font-family};
//  src:
//  url('../fonts/#{$font-family}-Bold-Italic.woff2') format('woff2'),
//  url('../fonts/#{$font-family}-Bold-Italic.woff') format('woff');
//  font-weight: bold;  font-style: italic;
//}
//// thin
//@font-face {
//  font-family: #{$font-family};
//  src:
//  url('../fonts/#{$font-family}-Thin.woff2') format('woff2'),
//  url('../fonts/#{$font-family}-Thin.woff') format('woff');
//  font-weight: 300;  font-style: normal;
//}
//// black
//@font-face {
//  font-family: #{$font-family};
//  src:
//  url('../fonts/#{$font-family}-Black.woff2') format('woff2'),
//  url('../fonts/#{$font-family}-Black.woff') format('woff');
//  font-weight: 800;  font-style: normal;
//}

// font awesome
@font-face {
  font-family: 'FontAwesome';
  src:
  url('../../fonts/fontawesome-webfont.woff2') format('woff2'),
  url('../../fonts/fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}